<ion-card *ngIf="casa?.pmdb_categorie[0] != 'itinerari'" 
[routerLink]="[getRouterLink(), casa.id]">

  <img *ngIf="casa.pmdb_galleria_foto.length > 0" src="{{casa?.pmdb_galleria_foto[0]}}" />
  <ion-card-header>
    <ion-card-title [innerHTML]="casa?.title.rendered | titleDeleteComa">
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{casa?.pmdb_location_city}}
  </ion-card-content>
</ion-card>

<ion-card *ngIf="casa?.pmdb_categorie[0] == 'itinerari'"
  [routerLink]="['/tablinks/itinerario-item-detail', casa?.id]">

  <img *ngIf="casa?.pmdb_galleria_foto.length > 0" src="{{casa?.pmdb_galleria_foto[0]}}" />
  <ion-card-header>
    <ion-card-title [innerHTML]="casa?.title.rendered | titleDeleteComa">
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{casa?.pmdb_location_city}}
  </ion-card-content>
</ion-card>